header{
  display: flex;
  background-color: black;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  z-index: 1;
}
header nav{
  text-decoration: underline;
  color: seashell;
  display: flex;
  align-items: center;
  padding-left: 800px;
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  background: black;
  opacity: 0.9;
}
.logo img{
  height: 50px;
  padding: 10px;
  flex-grow: 1;
}
span a{
  margin-right: 10px;
  margin-left: 10px;
  color: seashell;
}
html, body{
background-color: black;
z-index: -1;
height: 100%;
}
.mission-text{
  color: seashell;
  padding: 100px;
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
}
.mission-img{
  background-image: url("../photos/background.jpeg");
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.tea-month{
  color: seashell;
  padding: 100px;
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  width: 1000px;
}
.column img{
  height: 200px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column h4{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.tea-month-header h4{
  display: flex;
  justify-content: center;
}
.tea-month-header h2{
  display: flex;
  justify-content: center;

}
.tea-month{
  width: 1000px;
}
